<div class="title-nav">
    <div class="navlinks">
        <a href="/pokemon"><h1>Pokedex</h1></a>
    </div>
    <div class="navlinks">
        <a href="/pokemon/new">Add a Pokemon</a>
    </div>
</div>
